/*====PUBLIC ELEMENTS=====*/
body{
    color: aliceblue;
    font-family: 'Quicksand';
    font-size: 1.25rem;
    margin: 0;
}
h1{
    font-family: 'PT Sans Narrow';
}
h3{
    font-family: 'Titillium Web';
    font-size: 2rem;
}


/*====PLANET PAGE=====*/
.dest-container{
    float: right;
    margin: 10% 15% 5% 15%; 
    font-weight: normal;
    line-height: 1;
}
.planet-selector{
    margin-bottom: 3%;
}
.planet-img{
    margin-right: 30px;
    float: left;
}
.planet-hr{
    width: 50%;
}
.planet-table{
    width: 50%;
}
.planet-item{
  color: aliceblue;
  text-decoration: none;
  margin: auto 20px;
  padding: 10px;

}
.planet-item:hover{
    border-style: none none solid none;
    border-width: 2px;
}
.planet-page{
    background-image: url('../assets/destination/background-destination-desktop.jpg');
}
/*====HOME PAGE=====*/
.main-container{
    margin-top:150px;
    width: 30%;
    margin-left: 10%;
    font-weight: normal;
    line-height: 2;
    float: left;
}
.explore-btn{
    text-decoration: none;
    margin-top:25%;
    float: right;
    border-style: solid;
    border-color: aliceblue;
    background-color: aliceblue;
    border-width: 100px;
    font-size: 2rem;
    border-radius: 100%;
    margin-right: 10%;
}
.home-page{
    background-image: url('../assets/home/background-home-desktop.jpg');
}
.main-title{
    font-size: 5rem;
    line-height: 0.5;
}


/*====TECHNOLOGY=====*/
.tech-page{
    background-image: url('../assets/technology/background-technology-desktop.jpg');
}
.tech-container{
    margin: 10% 0 0 10%;
    float: left;
}
.tech-img{
    float: right;
}
.tech-selector{
    float: left;
}
.tech-item{
    margin-right: 100px;
    margin-bottom: 40px;
    border-style: solid;   
    border-width: 1px;
    display: block;
    color: #ffffff;
    border-color: rgb(255, 255, 255);
    background-color: #ffffff00;
    border-radius: 100%;
    text-decoration: none;
    padding: 50px;
}
.tech-item:hover{
    background-color: #ffffff;
    color: black;
}
.current-item{
    background-color: #ffffff;
    color: black;    
}
/*====CREW=====*/
.crew-title{
    margin-bottom: 5%;
}
.crew-page{
    background-image: url('../assets/crew/background-crew-desktop.jpg');
}
.crew-container{
    margin: 10% 10% 0 10%;
    float: left;
}
.crew-img{
    float: right;
    margin-left: 100px;
}
.crew-selector {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 6px;
    background: #ffffff;
    padding: 3px 6px 3px 6px;
    border: solid #ffffff 2px;
    text-decoration: none;
    margin: 0 10px;
}
.current-crew
{
    background-color: #ffffff00;
    backdrop-filter: blur(10px);
}


/*====NAVBAR=====*/
.navbar{
    font-family: 'Titillium Web';
    position: fixed;
    right: 0px;
    width: 100%;
    text-align: right;
    margin-top: 3%;
    padding: 20px 0;
    backdrop-filter: blur(30px);
}
.nav-item:hover{
    border-style: none none solid none;
    border-color: aliceblue;
    border-width: 2px;
    padding-bottom: 18px;
}
.nav-item{
    text-decoration: none;
    color: aliceblue;
    margin: 0 4%;
}
.nav-hr{
    width: 27%;
    position: absolute;
    left: 200px;
    bottom: 25px;
}
.nav-img{
    position: absolute;
    left: 100px;
    bottom: 15px;
}